/* 
    Created on : Apr 7, 2014, 6:26:44 PM
    Author     : Merlin
*/

/* ----- Général */
html, body {
}
.jumbotron {
	margin-top: 15px;
}
.jumbotron .button-holder {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 0;
	padding-top: 30%;
	text-align: center;
}
footer {
	text-align: center;
}
.success {
	font-size: 1.5em;
	text-align: center;
	color: green;
}


/* ----- Liste des clients */
.liste-clients {
	//width: 50%;
	//float: left;
}
.popover ul {
	padding-left: 20px;
}