/* 
    Created on : Apr 7, 2014, 6:26:44 PM
    Author     : Merlin
*/

/* ----- Général */
html, body {
	font-family: "Univers 55", Helvetica, sans-serif;
}
footer {
	width: 100%;
	float: none; clear: both;
}
.success {
	font-size: 1.5em;
	text-align: center;
	color: green;
}

/* ----- Liste des clients */
.liste-clients {
	width: 50%;
	float: left;
}
.details-client {
	width: 40%;
	position: fixed;
	top: 10px; right: 10px;
}