/* 
    Created on : Apr 7, 2014, 6:26:44 PM
    Author     : Merlin
*/

/* ----- Général */
html, body {
}
footer {
	text-align: center;
}
.success {
	font-size: 1.5em;
	text-align: center;
	color: green;
}


/* ----- Liste des clients */
.liste-clients {
	//width: 50%;
	//float: left;
}
.popover ul {
	padding-left: 20px;
}